---
Language: Cpp
BasedOnStyle: None
DisableFormat: true
IncludeCategories:
  - Regex:           'StdAfx.h'
    Priority:        -1
  - Regex:           '^<'
    Priority:        2
  - Regex:           '^"'
    Priority:        1
SortIncludes: true
Standard: Cpp11
TabWidth: 4
UseTab: Never

...
